@page "/admin"
@using System.Net;
@layout LoginLayout

@inject HttpClient httpClient
@inject AuthenticationStateProvider autenticacionProvider
@inject NavigationManager navManager
@inject NotificationService notificationService

<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log-in Page</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #e75480 !important;
		}

		.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #c7d5fe;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
		}

		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #e75480;
			padding: 10px;
			text-align: center;
		}

		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}

		.form_container {
			margin-top: 100px;
		}

		.login_btn {
			width: 100%;
			background: #e75480 !important;
			color: white !important;
		}

			.login_btn:focus {
				box-shadow: none !important;
				outline: 0px !important;
			}

		.login_container {
			padding: 0 2rem;
		}

		.input-group-text {
			background: #e75480 !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}

		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

		.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
			background-color: #c0392b !important;
		}
	</style>
</head>

<div class="row mt-5">
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="https://i.postimg.cc/DZXtV6Rg/Whats-App-Image-2023-11-24-at-10-36-17-PM.jpg" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input @bind="login.Correo" type="email" name="" class="form-control input_user" placeholder="username admin">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input @bind="login.Clave" type="password" name="" class="form-control input_pass" placeholder="password admin">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Remember me</label>
							</div>
						</div>
						<div class="d-flex justify-content-center mt-3 login_container">
							<button @onclick="IniciarSesion" type="button" name="button" class="btn login_btn">Login Admin</button>
						</div>
					</form>
				</div>

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="#" class="ml-2">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center links">
						<a href="#">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	private LoginAMS login = new LoginAMS();
	private async Task IniciarSesion()
	{
		var loginResponse = await httpClient.PostAsJsonAsync<LoginAMS>("/api/Usuario/Login", login);

		if (loginResponse.IsSuccessStatusCode)
		{
			var sesionUsuario = await loginResponse.Content.ReadFromJsonAsync<SesionAMS>();

			if (sesionUsuario.Rol == "Administrador" || sesionUsuario.Rol == "Empleado")
			{
				var autenticacionExt = (AutenticacionExtension)autenticacionProvider;
				await autenticacionExt.ActualizarEstadoAutenticacion(sesionUsuario);
				navManager.NavigateTo("/Index");
			}
			else
			{
				var mensaje = new NotificationMessage
					{
						Severity = NotificationSeverity.Error,
						Summary = "Error",
						Detail = "Credenciales Incorrectas",
						Duration = 4_000
					};
				notificationService.Notify(mensaje);
			}
		}
		else if (loginResponse.StatusCode == HttpStatusCode.Unauthorized)
		{
			var mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Error,
					Summary = "Error",
					Detail = loginResponse.Content.ReadAsStringAsync().Result,
					Duration = 4_000
				};
			notificationService.Notify(mensaje);
		}
	}
}

